{
  "presets": [
    ["env", { "modules": false }],
    "stage-0",
    "react"
  ],
  "env": {
  	"development": {
      "presets": ["env", "stage-0", "react"]
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    },
    "test": {
      "presets": ["env", "stage-0", "react"]
    }
  },
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
